<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${'车位分布 - ' + site_name}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.7.0/dist/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div id="main" style="width: 1024px;height:768px;"></div>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        var empty = [], use = [];

        function getScatter() {
            empty = []; use = [];
            $.ajax({
                type: "GET",
                url: "/api/scatter",
                dataType: "json",
                async: false,
                success: function (result) {
                    console.log(result);
                    for (var i = 0; i < result.length; i++) {
                        if (result[i].use) {
                            // use.push([result[i].x, result[i].y, i + 1]);
                            use.push([result[i].x, result[i].y, result[i].id]);
                        } else {
                            // empty.push([result[i].x, result[i].y, i + 1]);
                            empty.push([result[i].x, result[i].y, result[i].id]);
                        }
                    }
                    console.log("use", use, "empty", empty, "result", result);
                },
                error: function (errorMsg) {
                    alert("获取后台数据失败！");
                }
            });
            $.ajax({
                type: "GET",
                url: "/api/scatter/count",
                dataType: "text",
                async: false,
                success: function (result) {
                    // $("#parkCount").val(result);
                    document.getElementById("parkCount").innerHTML=result;
                    console.log(result);
                },
                error: function (errorMsg) {
                    alert("获取后台数据失败！");
                }
            });
        }

        getScatter();

        // 指定图表的配置项和数据
        var option = {
            xAxis: {show: false},
            yAxis: {show: false},
            title: {
                text: '车位使用状况分布图'
            },
            animation: false,
            legend: {
                right: 10,
                data: ['占用', '空闲']
            },
            series: [
                {
                    name: '占用',
                    symbolSize: 20,
                    data: use,
                    type: 'scatter',
                    showAllSymbol: true,
                    symbol: 'rect',
                    emphasis: {
                        label: {
                            show: true,
                            formatter: function (param) {
                                return param.data[2];
                            },
                            position: 'top'
                        }
                    }
                },
                {
                    name: '空闲',
                    symbolSize: 20,
                    data: empty,
                    type: 'scatter',
                    symbol: 'rect',
                    emphasis: {
                        label: {
                            show: true,
                            formatter: function (param) {
                                return param.data[2];
                            },
                            position: 'top'
                        }
                    }
                }]
        };
        myChart.setOption(option);// 使用刚指定的配置项和数据显示图表

        setInterval(function () {
            getScatter();
            if(!myChart){
                return;
            }

            //更新数据
            var option = myChart.getOption();
            option.series[0].data = use;
            option.series[1].data = empty;
            myChart.setOption(option);
        }, 1000);
    </script>
    <div>
        <p class="text-info">
            <span>当前可用车位数量:</span>
            <span id="parkCount"></span>
        </p>
    </div>
    <a sec:authorize="hasAnyRole('ROLE_SUPER')" class="btn btn-info" th:href="@{/park/scatter/list}">分布管理</a>
</div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>