<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${'密码修改 - ' + site_name}"></title>
    <script type="text/javascript" src="webjars/jquery/1.11.1/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script>
        function checkConfirm() {
            if(document.getElementById("new_pass").value !== document.getElementById("new_pass_confirm").value){
                alert("请保证确认密码与密码一致");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">密码修改</h3>
        </div>
        <div class="panel-body">
            <form th:action="@{/user/edit/mpass}" method="post" onsubmit="return checkConfirm()">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">原 密 码</span>
                        <input class="form-control form-inline" placeholder="请输入原密码..."
                               type="password" th:name="old_pass" autofocus="autofocus"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">新 密 码</span>
                        <input class="form-control form-inline" placeholder="请输入新密码..."
                               type="password" th:name="new_pass" id="new_pass"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">确认 密码</span>
                        <input class="form-control form-inline" placeholder="请输入确认密码..."
                               type="password" id="new_pass_confirm"/>
                    </div>
                </div>
<!--                <label>新密码：-->
<!--                    <input class="form-control" type="password" th:name="new_pass" id="new_pass">-->
<!--                </label>-->
<!--                <label>确认密码：-->
<!--                    <input class="form-control" type="password" id="new_pass_confirm">-->
<!--                </label>-->
                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-block btn-lg">修改</button>
                </div>
            </form>
        </div>
    </div>
    <p th:text="${res}"></p>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>