<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="zh">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    </div>
</head>
<body>
<div th:fragment="header">
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    </div>
    <!-- this is header -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}" th:text="${site_name}">ParkingManagementSystem</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class=""><a th:href="@{/park/chart}">车位分布</a></li>
                        <li sec:authorize="isAuthenticated()" class=""><a th:href="@{/space}">用户空间</a></li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER')" class="dropdown">
                            <a th:href="@{/user}" class="dropdown-toggle" data-toggle="dropdown">用户管理<b class="caret"></b> </a>
                            <ul class="dropdown-menu">
                                <li><a href="/user">用户添加</a></li>
                                <li><a href="/user/list">用户清单</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="isAuthenticated()" class=""><a th:href="@{/park/list}">停车记录</a></li>
                        <li sec:authorize="hasAnyRole('ROLE_SUPER')" class=""><a th:href="@{/manage}">系统设置</a>
                        </li>
                        <li class=""><a th:href="@{/about}">关于</a></li>
                    </ul>
                    <span sec:authorize="isAnonymous()" class="btn btn-default navbar-btn navbar-right"><a
                            th:href="@{/login}">登录</a></span>
                    <span sec:authorize="isAuthenticated()" class="btn btn-default navbar-btn navbar-right"><a
                            th:href="@{/logout}">注销</a></span>
                </div>
            </div>
        </div>
    </nav>
</div>

</body>
</html>