<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="zh">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="container-fluid navbar-header">
                <a class="navbar-brand" th:href="@{/}" th:text="${site_name}">ParkingManagementSystem</a>
            </div>
            <div>
                <form th:action="@{/post/list}">
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()" class="active"><a th:href="@{/space}">个人空间</a></li>
                        <li sec:authorize="isAuthenticated()" class="active"><a th:href="@{/park/list}">停车记录</a></li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPER')" class="active"><a
                                th:href="@{/user}">用户管理</a></li>
                        <li sec:authorize="hasAnyRole('ROLE_SUPER')" class="active"><a th:href="@{/manage}">系统设置</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
</div>

</body>
</html>