<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${'登录 - ' + site_name}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <style>
        .mysign{
            width: 500px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row center-block">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">登录信息</div>
                <div class="panel-body">
                    <form th:action="@{/login}" method="post" role="form" class="form-group">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">用  户</span>
                                <input type="text" class="form-control form-inline" placeholder="请输入用户名..."
                                       id="username" name="username" autofocus="autofocus"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i>密  码</span>
                                <input type="password" class="form-control form-inline" placeholder="请输入密码..."
                                       id="password" name="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block btn-lg">登录</button>
                        </div>
                        <div class="">
                            <p th:if="${logout}" class="text-warning">已注销</p>
                            <p th:if="${passerror}" class="text-danger">有错误，请重试</p>
                            <p th:if="${add_res}" th:text="${add_res}" class="text-danger"></p>
                        </div>
                        <!--                <div class="mysign jumbotron center-block">-->
                        <!--                </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <span sec:authorize="isAuthenticated()">
        <script>
            window.location.href='/space';
        </script>
    </span>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>