<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${'用户空间 - ' + site_name}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">用户信息</h3>
        </div>
        <table class="table">
            <tr><td>用户名</td><td><span sec:authentication="name"></td></tr>
            <tr><td>ID</td><td><span sec:authentication="principal.id"></td></tr>
            <tr><td>显示名</td><td><span sec:authentication="principal.display"></td></tr>
            <tr><td>注册时间</td><td><span sec:authentication="principal.registered"></td></tr>
        </table>
        <div class="panel-body">
            <div class="container">
                <a class="btn btn-primary" th:href="@{/user/edit/info}">信息修改</a>
                <a class="btn btn-primary" th:href="@{/user/edit/password}">密码修改</a>
            </div>

            <div class="container" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <br>
                <a class="btn btn-danger" th:href="@{/user}">用户管理</a>
            </div>
            <div class="container" sec:authorize="hasAnyRole('ROLE_SUPER')">
                <br>
                <a class="btn btn-danger" th:href="@{/swagger-ui.html}">接口查看</a>
            </div>
            <div sec:authorize="isAnonymous()">
                <p>未有用户登录</p>
            </div>
            <p th:text="${res}"></p>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>